.catalog {
  flex: 1;
  min-width: 400px;
  padding: 3px;
  height: 100%;
  border-radius: var(--bradius);
  overflow: scroll;
  scrollbar-width: thin;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &>header {
    width: 100%;
    display: flex;
    justify-content: center;

    & span {
      font-size: 1.2rem;
    }
  }
}

.audiosWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: var(--secondary);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  .individualAudioWrapper {
    gap: 10px;
    margin: 2px;
    overflow: hidden;
    padding: 7px 24px;
    border-radius: var(--bradius);
    justify-content: space-between;
    // background-color: var(--secondary);

    display: flex;
    flex-direction: row;

    .audioTitleWrapper>span {
      font-size: 0.875rem;
    }

    .audioArtistWrapper {
      display: flex;
      justify-content: space-between;
    }

    .audioArtistWrapper>span {
      font-size: 0.8rem;
    }

    &>div:first-child {
      width: 80%;
      display: flex;
      flex-direction: column;
    }

    &>div:last-child {
      display: flex;
      width: fit-content;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  .individualAudioWrapper:hover {
    background-color: black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.contextMenu {
  display: flex;
  position: fixed;
  padding: 7px 0px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  opacity: 0;
  animation: fadeIn 0.25s ease-out forwards;

  & button {
    width: 200px;
    text-align: left;
    padding: 5px 0px 5px 20px;

    &:hover {
      background-color: var(--secondary);
    }
  }
}
