.catalog {
  overflow: scroll;
  scrollbar-width: thin;
  border: 1px solid red;
  height: 100vh;
  width: 500px;
}

.audiosWrapper {
  display: flex;
  flex-direction: column;


  .individualAudioWrapper {
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    justify-content: space-between;
    border: 1px solid blue;

    display: flex;
    flex-direction: row;

    .audioTitleWrapper>span {
      font-size: 1.1rem;
    }

    .audioArtistWrapper>span {
      font-size: 0.9rem;
    }

    &>div:first-child {
      width: 400px;
      display: flex;
      flex-direction: column;
    }

    &>div:last-child {
      width: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &>button {
        width: 100%;
        height: 100%;
        outline: 1px solid green;
      }
    }
  }
}
