.audioControls {
  padding: 5px 8px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: var(--primary);
  border-radius: var(--bradius);
}

.durationBar {
  flex: 1;
}

.left,
.right {
  outline: 1px solid red;
  width: 300px;
}

.middle {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 750px;
  outline: 1px solid red;
}

.controls {
  gap: 7px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
