@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contextMenu {
  display: flex;
  position: fixed;
  padding: 7px 0px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  z-index: 9999;
  /* Add this to ensure it's on top */
  opacity: 0;
  animation: fadeIn 0.25s ease-out forwards;

  & button {
    width: 200px;
    text-align: left;
    padding: 5px 0px 5px 20px;

    &:hover {
      background-color: var(--secondary);
    }
  }
}
