.section {
  gap: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: var(--bradius);

  &>header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.queueListWrapper {
  padding: 5px;
}

.queueList {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.queueItem {
  padding: 5px;
  position: relative;

  padding-left: 10px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: var(--secondary);
  }

  // Title wrapper
  &>div:first-child {
    width: 100%;
    overflow: hidden;

    &>span {
      line-height: 1.25;
      text-wrap: nowrap;
      font-size: 1rem;
    }
  }

  &>div:last-child>span {
    font-size: 0.9rem;
  }
}
