@import "tailwindcss";

:root {
  --background: #121016;
  --foreground: #f9e5de;
  --primary: #1C1924;
  --secondary: #A855F7;
  --accent: var(--secondary);
  --bradius: 2px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroun: #6E8A83;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.contextMenu {
  display: flex;
  position: fixed;
  padding: 7px 0px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 1);
  opacity: 0;
  animation: fadeIn 0.25s ease-out forwards;

  & button {
    width: 200px;
    text-align: left;
    padding: 5px 0px 5px 20px;

    &:hover {
      background-color: var(--secondary);
    }
  }
}
