@import "tailwindcss";

:root {
  --background: #121016;
  --foreground: #f9e5de;
  --primary: #1C1924;
  --secondary: #A855F7;
  --accent: var(--secondary);
  --bradius: 2px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroun: #6E8A83;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes TextSlider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.overflown-title:hover {
  animation-name: TextSlider;
  animation-duration: 20s;
  animation-delay: 0s;
  animation-timing-function: linear;
}
