.mainWrapper {
  height: 100vh;
}

.main {
  gap: 5px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.header {
  height: 70px;
  background-color: var(--primary);
  border-radius: var(--bradius);
}

.middleSection {
  gap: 5px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 165px);
}

.queueControls {
  height: 70px;
  background-color: var(--primary);
  border-radius: var(--bradius);
}
