.mainWrapper {
  height: 100vh;
}

.main {
  gap: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 70px;
  background-color: var(--primary);
  border-radius: var(--bradius);
}

.middleSection {
  gap: 5px;
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: row;
  height: calc(100vh - 150px);
}
